//
// Custom overrides from a user.
//

a.custom_link_color {
    color: $aurora-purple !important;
}

a.custom_link {
    text-decoration: none;
    background-image: linear-gradient($border-color 0%, $border-color 100%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 1px 1px;
  
    &:hover {
      background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
      background-size: 1px 1px;
  
    }
}

a.custom_link_color_2 {
  color: $frost-1;
}

a.custom_link_color_3 {
  color: $grey-lt-000;
}

.label-not-really {
  display: inline-block;
  padding-top: 0.16em;
  padding-bottom: 0.16em;
  margin-right: $sp-1;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
}

.label-not-really-title {
  display: inline-block;
  padding-top: 0.16em;
  padding-bottom: 0.12em;
  margin-right: $sp-1;
  vertical-align: middle;
}

.custom-dot {
  position: absolute;
  margin-left: -1.4em;
  color: #88C0D0;
  content: "•";
}

.customlistitem {
  position: relative;
  margin-bottom: -1.5rem;
  &::before {
    position: absolute;
    margin-top: 0.3em;
    margin-left: -2em !important;
    margin-right: 3em;
    color: rgba($body-text-color, 0.3);
    content: var(--content) !important;
  }
}

.product-customlistitem {
  position: relative;
  margin-bottom: -1.5rem;
  &::before {
    position: absolute;
    margin-top: 0.3em;
    margin-left: -2em !important;
    margin-right: 3em;
    color: rgba($body-text-color, 0.3);
    content: var(--content) !important;
  }
}

.custom-tr-dot {
  padding-left: 2em;
}

#bundles {
  margin-top: 1.7em;
}
#events {
  margin-top: 1.7em;
}
#products {
  margin-top: 1.7em;
}
.bundles {
  margin-bottom: 1.7em;
}

.custom-td-dot {
  position: relative;
  padding-left: 2em;

  &::before {
    position: absolute;
    margin-left: -1em !important;
    padding-right: 3em;
    color: #88C0D0;
    content: '•' !important;
  }
}

.field1-width {
  width: 19em;
}
.field1-width-bundle-head {
  width: 15.6em;
}
.field1-width-bundle {
  width: 20em;
}
.field1-width-head {
  width: 14.8em;
  font-weight: 500 !important;
}
.product-field1-width {
  width: 19em;
  border-top: 1px solid rgba(67, 76, 94, 0.5) !important;
}

.product-field2-width {
  border-top: 1px solid rgba(67, 76, 94, 0.5) !important;
  border-bottom: 1px solid rgba(67, 76, 94, 0.5) !important;
}
.product-field3-width {
  width: 10em;
  border-top: 1px solid rgba(67, 76, 94, 0.5) !important;
  border-bottom: 1px solid rgba(67, 76, 94, 0.5) !important;
}
.color-product-cpt {
  color: $frost-1;
}

.hidetext {
  margin-bottom: 0 !important;
  color: transparent !important;

}

.img-overlay-container {
  position: relative;
}

.sub-img-overlay-container {
  position: relative;
  width: 50%;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255, 0);
  text-align: center;
  &:hover {
    color: $grey-lt-000 !important;
    background-color: rgba(0, 0, 0, 0.5);
  }

}